@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
    /*--primary-color: #003699;*/
    /*--primary-color: #262626;*/
    /*--primary-color: #3a4b60;*/
    --primary-color: #2f3640;
    --dark-color: #333333;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*body {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 1rem;*/
    /*line-height: 1.6;*/
    /*background-color: #fff;*/
    /*color: #333;*/
/*}*/

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: #666;
}

ul {
    list-style: none;
}

/*img {*/
    /*width: 100%;*/
/*}*/

/* Utilities */
.container {
    /*max-width: 1100px;*/
    /*max-width: 1300px;*/
    max-width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text Styles*/
.x-large {
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-dark {
    color: var(--dark-color);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Cards */
.card {
    padding: 1rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
}

/* List */
.list {
    margin: 0.5rem 0;
}

.list li {
    padding-bottom: 0.3rem;
}

/* Padding */
.p {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.py {
    padding: 0.5rem 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

/* Margin */
.m {
    margin: 0.5rem;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.my {
    margin: 0.5rem 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

/* Grid */
.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.grid-2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 2rem;
}

.btn {
    display: inline-block;
    background: var(--light-color);
    color: #333;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}

.btn-link {
    background: none;
    padding: 0;
    margin: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-sm {
    font-size: 0.8rem;
    padding: 0.3rem 1rem;
    margin-right: 0.2rem;
}

.badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.7rem;
    text-align: center;
    margin: 0.3rem;
    background: var(--light-color);
    color: #333;
    border-radius: 5px;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
    background: var(--light-color);
    color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
    background: var(--dark-color);
    color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
    background: var(--danger-color);
    color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
    background: var(--success-color);
    color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
}

.btn:hover {
    opacity: 0.8;
}

.bg-light,
.badge-light {
    border: #ccc solid 1px;
}

.round-img {
    border-radius: 50%;
}

.round-img2 {
    border-radius: 10%;
}


/* Forms */
input {
    margin: 1.2rem 0;
}

.form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}

input[type='submit'],
button {
    font: inherit;
}

.form-group {
    margin: 1.2rem 0;
}

.form-group input {
    margin: 0.2rem 0;
}

.form-container {
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
    text-align: center;
}

table th,
table td {
    padding: 1rem;
    text-align: left;
}

table th {
    background: var(--light-color);
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    z-index: 1;
    width: 100%;
    border-bottom: solid 1px var(--primary-color);
    opacity: 0.9;
    margin-bottom: 1rem;
}

.navbar ul {
    display: flex;
}

navbar li {
    position: relative;
}

.navbar li a {
    margin-right: 10px;
}
navbar a li:hover {
    padding: auto;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: var(--light-color);
    /*background-color: dodgerblue;*/
    transition: 0.6s all;
}

.navbar .welcome span {
    margin-right: 0.6rem;
}

/*added by me*/
/*.navbar .search {*/
    /*float: right;*/
/*}*/

/* Animation (Add After) */
.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
}

/* Mobile Styles */
@media (max-width: 700px) {
    .hide-sm {
        display: none;
    }

    .grid-2,
    .grid-3,
    .grid-4 {
        grid-template-columns: 1fr;
    }

    /* Text Styles */
    .x-large {
        font-size: 3rem;
    }

    .large {
        font-size: 2rem;
    }

    .lead {
        font-size: 1rem;
    }

    /* Navbar */
    .navbar {
        display: block;
        text-align: center;
    }

    .navbar h1 {
        margin-bottom: 0.6rem;
    }

    .navbar ul {
        text-align: center;
        justify-content: center;
    }
}

/*.search-wrapper{*/
    /*position: relative;*/
    /*margin-right: 120px;*/
/*}*/

/*.search {*/
    /*position: relative;*/
    /*margin-right: 120px;*/
/*}*/

/*.search-box {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*background: #2f3640;*/
    /*height: 40px;*/
    /*border-radius: 40px;*/
    /*padding-bottom: 0px;*/
    /*padding-right: 0px;*/
/*}*/

/*.search-box:hover > .search-txt {*/
    /*width: 240px;*/
    /*padding: 0 6px;*/
/*}*/

/*.search-box:hover > .search-btn {*/
    /*background: white;*/
    /*color: black;*/
/*}*/

/*.search-btn {*/
    /*color: #e84118;*/
    /*float: right;*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*border-radius: 50%;*/
    /*background: #2f3640;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*transition: 0.4s;*/
    /*color: white;*/
    /*position: relative;*/
    /*cursor: pointer;*/
    /*padding: 0px;*/
    /*margin-right: 10px;*/
/*}*/

/*.search-btn > i {*/
    /*font-size: 30px;*/
/*}*/

/*.search-txt {*/
    /*border: none;*/
    /*background: none;*/
    /*outline: none;*/
    /*float: left;*/
    /*padding: 0;*/
    /*color: white;*/
    /*font-size: 16px;*/
    /*transition: 0.4s;*/
    /*line-height: 40px;*/
    /*width: 0px;*/
    /*font-weight: bold;*/
/*}*/

/*---------------------------------------------------------------------------------*/

/**{transition: all 300ms ease-out 0s;}*/
/*a:focus {*/
    /*outline:0px solid;*/
    /*text-decoration:none;*/
/*}*/
/*ul,ul li{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*.float-left{float:left;}*/
/*.float-right{float:right;}*/
/*img {*/
    /*max-width:100%;*/
    /*height:auto;*/
/*}*/
/*h1, h2, h3, h4, h5, h6 ,a,.product_text p,.single_review p,.compare_menu ul li a,th,.features_text h5,.disclaimer h5,tr td:first-child,.subscribe_btn,.footer_link p,.tp-caption  {*/
    /*!*text-transform: uppercase;*!*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/
h1, h2, h5, a, .header_top_right ul li a:hover,.mainmenu a:hover, .choose_text:hover.choose_text i, .choose_active.choose_text i, .choose_text:hover.choose_text h5 a, .choose_active.choose_text h5 a, .social_icon li a i, .review_icon i, .compare_menu ul li a,th, .features_text  h5, .disclaimer h5, .single_features i, .single_features i.flaticon-lightbulbs, .single_features i.flaticon-tshirt17, .disclaimer i, .newsletter input{
    color:#3a4b60;
}
.social_icon li a:hover i,.slide_btn:hover,.shop_now_btn:hover,.choose_title h2,.choose_text h5  a,.choose_btn .shop_now_btn,.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,.nav-tabs li a:hover,.footer_link p,#scrollUp i,.dark_product h1,.footer_link li a,.address li{
    color:#fff;
}
.header_top_left ul li ,.header_top_right ul li ,.social_icon,.social_others,.mainmenu li,.footer_icon li,.slide_btn,.shop_now_btn,.choose_text,.choose_text i,.nav.nav-tabs.items_ul,button.checkPageBtn,a.checkPageBtn {
    display: inline-block;
}
.social_icon li a,.footer_icon li a,.shop_icon a,.shop_icon span,.choose_text i,.single_review  img,.review_icon{
    border-radius: 50%;
}
.social_icon li a,.footer_icon li a,.shop_icon a,.shop_icon span,.single_product,#scrollUp,button.checkPageBtn,a.checkPageBtn,#qua_in input,#qua_in_2 input{
    text-align: center;
}
.main_single_product,.compare_menu ul li a,.single_features,.guarantee_features img,.disclaimer i ,.news_input{
    float: left;
}
/*.searchbox{*/
/*float: right;*/
/*}*/
.shop_icon,.mainmenu a i,.shop_icon,.single_product,.single_product_two,.choose_area,.single_features,.checkTitle .ct-design,.sauget-accordion .panel-heading h4 a {
    position: relative;
}
h1{
    font-size:62px;
    line-height:70px;
    font-family:nexa_blackregular;
}
h2{
    font-size:32px;
    font-weight:700;
    line-height:35px;
    font-family:nexa_xboldregular;
    margin-bottom:45px;
}
h5{
    font-size:18px;
    font-weight:600;
    line-height:22px;
    font-family:nexa_regularregular;
    margin-bottom:40px;
}
p{
    font-size:14px;
    line-height:22px;
    font-family: nexa_bookregular;
    color:#263547;
    font-weight:500;
}
a {
    text-decoration:none;
    transition: all 300ms ease-out 0s;
    font-family:'Roboto', sans-serif;
    font-weight:500;
}
a:hover{text-decoration:none;}
.section-padding{padding:80px 0;}
.section-padding-top{padding-top:80px;}

/*============= ScrollUp =============*/
/*#scrollUp {*/
    /*background-color: #202B30;*/
    /*padding: 8px 10px;*/
    /*right: 25px;*/
    /*text-decoration: none;*/
    /*top: 77.6%;*/
/*}*/
/*#scrollUp:hover{opacity:.6;}*/
/*------------------------------------------------------------------
[1. body ]
--------------------------------------------------------------------*/
body {
    /*color: #fff;*/
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background:#fff;
    line-height:17px;
    margin: 0;
    font-weight:400;
    padding: 0;


    /*font-family: 'Roboto', sans-serif;*/
    /*font-size: 1rem;*/
    /*line-height: 1.6;*/
    /*background-color: #fff;*/
    /*color: #333;*/
}
/*==========================================
[2. Header ]
===========================================*/
/*-----------------------------------------
[2.1 Header-Top ]
------------------------------------------*/
/*.header_top {border-bottom: 1px solid #E3E3E3;}*/
/*--------------------------------
[2.1.1 Header-Top-Left ]
---------------------------------*/
/*.header_top_left,.header_top_right {padding: 10px 0;}*/
/*.header_top_left.float-left {*/
    /*position:relative;*/
    /*z-index:2;*/
/*}*/
/*.header_top_left ul ,.header_top_right ul {*/
    /*list-style: outside none none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*-------------------------
[2.1.1.1 Header-Social-Icon ]
-------------------------*/
/*.social_icon li {margin-right: 8px;}*/
/*.social_icon li a, .footer_icon li a, .shop_icon a {*/
    /*background: rgb(57, 74, 95) none repeat scroll 0 0;*/
    /*display: block;*/
    /*height: 25px;*/
    /*padding: 5px;*/
    /*width: 25px;*/
/*}*/
/*.social_icon li a i {*/
    /*color: rgb(255, 255, 255);*/
    /*font-size: 14px;*/
/*}*/
.shop_icon span,.slide_btn:hover,.shop_now_btn:hover{background:#3a4b60;}
.social_icon li a:hover i{opacity:.6;}
/*-------------------------
[2.1.1.2 Header-Other-Icon ]
-------------------------*/
/*.social_others  li a {margin-left: 10px;}*/
/*.social_others li {margin-left:10px;}*/
/*.social_others a,.header_top_right ul li a{*/
    /*color: rgb(135, 135, 135);*/
    /*font-size: 13px;*/
    /*text-transform: inherit;*/
/*}*/
/*.header_top_right.text-right a,.shop_icon {margin-right: 10px;}*/
/*.social_others a i {*/
    /*color: #3a4b60;*/
    /*font-size: 15px;*/
    /*margin-right: 5px;*/
/*}*/
/*--------------------------------
[2.1.2 Header-Top-Right ]
---------------------------------*/
/*.header_top_right.text-right li{padding-top:4px;}*/
/*.searchbox::-webkit-input-placeholder,*/
/*.searchbox-input:-moz-placeholder,*/
/*.searchbox-input::-moz-placeholder,*/
/*.searchbox-input:-ms-input-placeholder {*/
/*color: #3a4b60;*/
/*}*/

/*.searchbox-icon,*/
/*.searchbox-submit {*/
    /*background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
    /*border: medium none;*/
    /*color: #3a4b60;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*font-size: 18px;*/
    /*line-height: 32px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*width: 25px;*/
/*}*/

/*.searchbox-input {*/
    /*border: medium none;*/
    /*color: rgb(0, 0, 0);*/
    /*font-size: 16px;*/
    /*height: 32px;*/
    /*padding: 0 55px 0 20px;*/
    /*right: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*box-shadow: none;*/
/*}*/

/*li.searchbox.searchbox-open {padding-top: 0;}*/
/*.searchbox-input::-webkit-input-placeholder,*/
/*.searchbox-input:-moz-placeholder,*/
/*.searchbox-input::-moz-placeholder,*/
/*.searchbox-input:-ms-input-placeholder {color: #3a4b60;}*/
/*.searchbox-icon,*/
/*.searchbox-submit {*/
    /*background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
    /*border: medium none;*/
    /*color: #3a4b60;*/
    /*cursor: pointer;*/
    /*display: block;*/
    /*font-size: 18px;*/
    /*line-height: 32px;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*width:25px;*/
/*}*/
/*.searchbox-open {*/
    /*border: 1px solid #3a4b60;*/
    /*width: 50%;*/
/*}*/

/*----------------------------------------*/
/*.searchbox-open span {*/
/*background: #3a4b60;*/
/*transition: width 0.3s ease 0s;*/
/*width: 50px;*/
/*height: 35px;*/
/*}*/
/*-------------------------------
[2.2 Mainmenu ]
--------------------------------*/
/*.mobile-menu-area{display:none;}*/
/*.mainmenu, .logo {padding: 0px 0;}*/
/*.logo a {*/
    /*padding: 5px 0;*/
    /*display: block;*/
/*}*/
/*.mainmenu a {*/
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    /*padding: 10px 15px;*/
    /*margin-left: 5px;*/
    /*color:rgb(135, 135, 135);*/
/*}*/
/*.shop_icon span {*/
    /*font-size: 10px;*/
    /*height: 20px;*/
    /*padding-top: 2px;*/
    /*position: absolute;*/
    /*right: -10px;*/
    /*top: -3px;*/
    /*width: 20px;*/
/*}*/
/*.shop_icon a {*/
    /*background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
    /*border: 1px solid rgb(57, 74, 95);*/
    /*height: 30px;*/
    /*padding: 5px !important;*/
    /*width: 30px;*/
/*}*/
/*.mainmenu a i {top: 0;}*/
/*.mainmenu a:hover i {top: 5px;}*/
/*.guarantee_text p {padding-bottom: 20px;}*/
/*.footer_link li{margin-bottom: 20px;}*/
/*==========================================
[3. Slider-Section ]
===========================================*/
.slider_area{position:relative;}
/*==========================================
[4. Product-Section ]
===========================================*/
.product_area {overflow: hidden;}
.main_single_product {width: 50%;}
/*-------------------------------
[4.1 Left-Product ]
--------------------------------*/
.padding_right{padding-right: 15px;}
.single_product {border: 15px solid rgb(237, 237, 237);}
.product_img {padding: 50px 100px;}
.product_img.tre_shirt_3 {padding: 70px 90px;}
.product_img.tre_shirt_2 {padding: 90px 20px;}
.product_text {
    background: rgba(57, 74, 95, 0.75) none repeat scroll 0 0;
    padding: 40px 0;
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -72px;
    z-index:2;
}
/*-------------------------------
[4.2 Right-Product ]
--------------------------------*/
.padding_left{padding-left: 15px;}
.single_product_two::after {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.product_text_two ,.tre_shirt_2_text{
    background:transparent;
    left: 50%;
    margin-left: -177px;
    margin-top: -218px;
    text-align: left;
    padding:0;
}
.tre_shirt_2_text{
    margin-right: -177px;
    right: 50%;
    text-align: right;
    left:0;
}
.product_text_two h1 {
    border-bottom: 2px solid #3A4B60;
    margin-bottom: 65px;
}
.product_text p {
    font-size: 20px;
    line-height: 25px;
}
.slide_btn,.shop_now_btn{
    font-family: "nexa_regularregular";
    font-weight: 500;
}
.shop_now_btn {
    font-size: 16px;
    margin-top: 50px;
    padding: 10px 30px;
    border: 2px solid #3a4b60;
}

.carusele-image {
    height: 300px;

}